/* CSS for Rainbow Felt Design Site */
.aboutImages {
    height: 300px;
    width: 400px;
    border: 1px solid black;
}

/* Create fixed background for site that is in a fixed position */
body {
    background-image: url("../images/wool.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

footer {
    border-top: 1px solid black;
    padding: 15px;
    text-align: right;
}

footer, .navbar {
    font-weight: bold;
}

.footer-links {
    padding-left: 25px;
}

.footer-links > img {
    height: 30px;
}

#main_container {
    margin-top: 70px;
    border: solid black;
    border-width: 0px 1px;
    padding: 0px;
}

#main_container, .navbar, footer {
    background-color: ghostwhite;
}

.nav > li > a {
    padding: 22px 15px;
}

.navbar {
    border-bottom: 1px solid black;
}

.navbar, .nav-pills, .nav > li, .nav > li > a, #rainbowlogo {
    height: 70px;
}

.navbar-brand {
    padding: 0;
}

#rainbowlogo {
    padding: 5px 0px;
}

/* Home Page */
.carousel-content {
	position: absolute;
	bottom: 20%;
	left: 0;
	z-index: 20;
	color: white;
	width: 100%;
	background-color: rgba(237, 13, 40, 0.7);
	font-size: 20px;
	text-align: center;
    padding-top: 7px;
}

.carousel-inner > .item > img {
    width: 100%;
    height: 600px;
}

#homeCarousel {
    margin: 20px;
    border: 1px solid black;
}

.messageBar {
    background-color: rgba(237, 13, 40, 0.7);
    color: white;
    padding: 20px 0;
    text-align: center;
    /* Fix issue with overlap */
    width: 99.99999999%;
    min-height: 150px;
}

/* Use flexbox to center text in divs */
#offerArticle, .aboutArticle, #aboutBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
}

#offerImage {
    height: 300px;
    width: 400px;
    display: block;
    margin: 0 20px;
    border: 1px solid black;
}

.okglyph {
    font-size: 22px;
    margin-right: 10px;
}