/* CSS for Rainbow Felt Design Site */
.about-images {
    height: 300px;
    width: 400px;
}

/* All one pixel black borders */
.about-images, #home-carousel, #main-container, #offer-image, .product-boxes, #viewed-product-image, #rooster {
    border: 1px solid black;
}

/* All box shadows */
.about-images, #home-carousel, #offer-image, .product-boxes, #viewed-product-image {
    box-shadow: 2px 2px 5px #888888;
}

.about-article > p {
    margin: 0 15px;
}

/* Create fixed background for site that is in a fixed position */
body {
    background-image: url("../images/wool.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* Bar placed on top of image carousel */
.carousel-content {
	position: absolute;
	bottom: 20%;
	left: 0;
	z-index: 20;
	color: white;
	width: 100%;
	background-color: rgba(237, 13, 40, 0.7);
	font-size: 20px;
	text-align: center;
    padding-top: 7px;
}

.carousel-inner > .item > img {
    width: 100%;
    max-height: 600px;
}

.form-container {
    padding: 50px;
}

.fa {
    font-size: 18px;
}

/* Footer CSS */
footer {
    border-top: 1px solid black;
    padding: 15px;
    text-align: right;
}

footer, .navbar {
    font-weight: bold;
}

.footer-links {
    padding-left: 25px;
}

.footer-links > img {
    height: 30px;
}

#go-shopping, #paypal-button, #thank-you, #go-login, #go-account, #account-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home-carousel {
    margin: 20px;
}

.itemsuccess, .itemerror {
    padding: 15px;
    color: white; 
}

.itemsuccess {
    background-color: #5cb85c;
}

.itemerror {
    background-color: #e53e32;
}

.itemsuccess > .close, .itemerror > .close {
    color: white;
    opacity: 1;
    transition: 0.4s;
}

.itemsuccess > .close:hover, .itemerror > .close:hover {
    color: black;
}

#main-container {
    border-width: 0px 1px;
    padding: 70px 0 50px 0;
    min-height: 100%;
    min-height: -webkit-fill-available;
    min-height: -moz-available;
}

#main-container, .navbar, footer, #rainbow-nav {
    background-color: ghostwhite;
}

.message-bar {
    background-color: rgba(237, 13, 40, 0.7);
    color: white;
    padding: 20px;
    text-align: center;
    /* Fix issue with overlap */
    width: 99.99999999%;
    min-height: 150px;
}

/* Navigation CSS */
.nav > li > a {
    padding: 22px 15px;
}

.nav > li > a, .footer-links {
    color: #e22499;
}

.navbar {
    margin-bottom: 0;
}

.navbar, .product-image {
    border-bottom: 1px solid black;
}

.navbar {
    height: 70px;
}

.nav > li, .nav > li > a, #rainbow-logo, .navbar > .container, .navbar-header, .navbar-brand {
    height: 69px;
}

.navbar-brand {
    padding: 0;
}

/* Use flexbox to center text in divs */
#offer-article, .about-article, #about-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
}

#offer-image {
    width: 100%;
    max-width: 400px;
    display: block;
    object-fit: contain;
}

.ok-glyph {
    font-size: 22px;
    margin-right: 10px;
}

/* CSS for product boxes */
.product-boxes {
    display: inline-block;
    box-shadow: 2px 2px 5px #888888;
}

.product-columns {
    padding: 10px 8px;
}

#product-display {
    padding: 10px 20px;
}

.product-image > img, #viewed-product-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.product-name {
    text-align: left;
}

.product-price {
    display: inline-block;
    text-align: right;
}

.product-text {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: black;
    padding: 7px 8px 0 8px;
}

#rainbow-logo {
    padding: 5px 0;
}

#rainbow-nav-button {
    margin-top: 15px;
    border: 2px solid #e22499;
}

#rainbow-nav-button > span {
    background-color: #e22499;
}

#request {
    width: 55%;
    float: left;
    margin: 10px 0;
}

#rooster {
    width: 40%;
    float: right;
    margin: 15px 15px 15px 0;
}

@media (max-width: 768px) {
    #request {
        width: 100%;
    }

    #rooster {
        display: none;
    }
}

#thank-you {
    margin: 15px 0;
}

#viewed-product-image {
    margin: 15px 0;
}

#viewed-product-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#viewed-product-buttons > a {
    margin: 0 10px;
}

#viewed-product-price {
    float: right;
    font-size: 19px;
}

@media (max-width: 1200px) {
    .navbar-brand {
        width: 300px;
    }
    #rainbow-logo {
        width: 100%;
        padding-left: 10px;
        object-fit: contain;
    }
}

@media (min-width: 768px) {
    #offer-image {
        width: 400px;
        margin-right: 20px;
    }
}

/* Collapse menu at 992px rather than 768px */
@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    .nav > li, .nav > li > a {
    height: 40px;
    }
}

@media (max-width: 768px) {
    #offer-article, .about-article {
        flex-direction: column;
    }
    #offer-article > p, .about-article > p {
        margin: 15px;
    }
}