{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- About article 1 -->
    <article class="about-article container">
        <p>I am a sole trader based in Stoke-On-Trent in England doing what started out as just a hobby. Like anyone, I wanted to make the hobby that I'm passionate about into my job. Rainbow Felt Designs is born! I love to create things for people to enjoy and everything I make gets my sole attention as if I was making it for a family member.</p>
        <figure>
            <img class="about-images" src="{% static "images/roosters.jpg" %}" alt="Roosters"/>
        </figure>
    </article>

    <!-- Message Bar -->
    <article id="about-bar" class="message-bar container">
        <p>Need ideas for items to request? How about a pillow embroided with whatever you want for your sofa? What about a personalised scarf and hat for your significant other? What about a mobile for your babies crib with lots of cute felt farmyard animals? Choices are endless.</p>
    </article>

    <!-- About article 2 -->
    <article class="about-article container">
        <figure>
            <img class="about-images" src="{% static "images/bunnies.jpg" %}" alt="Bunnies"/>
        </figure>
        <p>Rainbow Felt Designs, by it's name, specialises in cute creations made out of felt. However, we make all sorts of things. We make jewellery, stained glass, crocheted or embroided items, etc. We are happy to hear any and all of your suggestions for beautiful things for you all to enjoy!</p>
    </article>

{% endblock %}