{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- About article 1 -->
    <article class="aboutArticle container">
        <figure>
            <img class="aboutImages" src="{% static "images/bracelet2.jpg" %}" alt="Bracelet"/>
        </figure>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque dolorem dolores eligendi harum iusto perferendis, quidem temporibus vero? Corporis enim est, fuga laudantium nesciunt quibusdam similique veritatis. Distinctio, excepturi?</p>
    </article>

    <!-- Message Bar -->
    <article id="aboutBar" class="messageBar container">
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto, eaque explicabo illo itaque minus nisi obcaecati omnis pariatur quaerat quas quis recusandae, repudiandae saepe sint soluta, temporibus ut vitae.</p>
        </div>
    </article>

    <!-- About article 2 -->
    <article class="aboutArticle container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque dolorem dolores eligendi harum iusto perferendis, quidem temporibus vero? Corporis enim est, fuga laudantium nesciunt quibusdam similique veritatis. Distinctio, excepturi?</p>
        <figure>
            <img class="aboutImages" src="{% static "images/bracelet2.jpg" %}" alt="Bracelet"/>
        </figure>
    </article>

{% endblock %}