{% extends 'base.html' %}
{% block content %}

{% load carton_tags %}
{% get_cart as cart %}

<article class="container">
	<br>

	<!-- Display messages if there are any, i.e. if product added to basket -->
    {% if messages %}
    {% for message in messages %}
    <div class="alert itemerror">
        <span class="close" onclick="this.parentElement.style.display='none';">&times;</span>{{ message }}
    </div>
    {% endfor %}
    {% endif %}


	<!-- Display cart items in table -->
	{% if cart.items %}
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Product</th>
				<th>Quantity</th>
				<th>Price</th>
				<th>Remove Item</th>
			</tr>
		</thead>
		<tbody>

			<!-- Create table entry for each item in cart -->
			{% for item in cart.items %}
			<tr>
				<td>{{ item.product.name }}</td>
				<td>{{ item.quantity }}</td>
				<td>£{{ item.subtotal }}</td>
				<td><a href="/shopping-cart/remove/?id={{ item.product.id }}"><span class="glyphicon glyphicon-remove"></span></a></td>
			</tr>
			{% endfor %}

			<!-- Total cost displayed in last row -->
			<tr>
				<td></td>
				<td></td>
				<td><strong>Total Cost</strong></td>
				<td>£{{ cart.total }}</td>
			</tr>

		</tbody>
	</table>

	<!-- Create payment button for cart. Use .render for commercial -->
	<div id="paypal-button">
		<a>{{ cart.paypal_form.sandbox }}</a>
	</div>

	<!-- Display message if no items are in cart -->
	{% else %}
	<div id="go-shopping">
		<h4>You have no items in your cart.</h4>
		<a href="{% url 'all_products' %}" class="btn btn-info">Click to go shopping!</a>
	</div>
	{% endif %}

</article>


{% endblock %}