{% extends 'base.html' %}
{% block content %}

{% load carton_tags %}
{% get_cart as cart %}

<article class="container">

	<!-- Display cart items in table -->
	{% if cart.items %}
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Product</th>
				<th>Quantity</th>
				<th>Price</th>
				<th>Remove Item</th>
			</tr>
		</thead>
		<tbody>

			<!-- Create table entry for each item in cart -->
			{% for item in cart.items %}
			<tr>
				<td>{{ item.product.name }}</td>
				<td>{{ item.quantity }}</td>
				<td>£{{ item.subtotal }}</td>
				<td><a href="/shopping-cart/remove/?id={{ item.product.id }}"><span class="glyphicon glyphicon-remove"></span></a></td>
			</tr>
			{% endfor %}

			<!-- Total cost displayed in last row -->
			<tr>
				<td></td>
				<td></td>
				<td><strong>Total Cost</strong></td>
				<td>£{{ cart.total }}</td>
			</tr>

		</tbody>
	</table>

        <!-- Check user is logged in
        {% if user.is_authenticated %}

            <!-- Check user has address associated with their account -->
            {% if user.userextras.house %}
                <!-- Create payment button for cart. Change to .render for commercial -->
                <div id="paypal-button">
                    <a>{{ cart.paypal_form.sandbox }}</a>
                </div>

            <!-- If user has no address associated with their account send them to account page -->
            {% else %}
                <div id="go-account">
                    <h4>Please add a delivery address to your account to checkout your cart.</h4>
                    <a href="{% url 'myaccount' %}" class="btn btn-info">My Account</a>
                </div>
            {% endif %}

        <!-- If user not logged in then send them to login page -->
        {% else %}
            <div id="go-login">
                <h4>Please login to checkout your cart.</h4>
                <a href="{% url 'login' %}" class="btn btn-info">Login</a>
            </div>
        {% endif %}

	<!-- Display message if no items are in cart -->
	{% else %}
	<div id="go-shopping">
		<h4>You have no items in your cart.</h4>
		<a href="{% url 'all_products' %}" class="btn btn-info">Click to go shopping!</a>
	</div>
	{% endif %}

</article>


{% endblock %}